server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/auth_demo

  mail:
    host: localhost
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
